<div class="container" >
    <%= form_with(model: @article, url: admin_articles_url, method: :post) do |form| %>

        <%= render 'admin/articles/form', form: form, categories: Category.all %>
    <% end %>
</div>
