// Main background for body
$background-body: #FFFFFF;

$red-main: #D72130;
$white: #FFFFFF;
$black: #000000;

// sidebar vars
$sidebar-width: 256px;
$sidebar-menu-color: #B2B2B2;
$sidebar-menu-active-color: #C63638;
